﻿@page
@model ExamenWeb.Pages.Celular.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Celular</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular.marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular.marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular.CPUs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular.CPUs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular.SO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular.SO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular.precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular.precio)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Celular.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
