﻿@page
@model ExamenWeb.Pages.Celular.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Celular</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Celulares.ID" />
            <div class="form-group">
                <label asp-for="Celulares.nombre" class="control-label"></label>
                <input asp-for="Celulares.nombre" class="form-control" />
                <span asp-validation-for="Celulares.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celulares.marca" class="control-label"></label>
                <input asp-for="Celulares.marca" class="form-control" />
                <span asp-validation-for="Celulares.marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celulares.color" class="control-label"></label>
                <input asp-for="Celulares.color" class="form-control" />
                <span asp-validation-for="Celulares.color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celulares.CPUs" class="control-label"></label>
                <input asp-for="Celulares.CPUs" class="form-control" />
                <span asp-validation-for="Celulares.CPUs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celulares.SO" class="control-label"></label>
                <input asp-for="Celulares.SO" class="form-control" />
                <span asp-validation-for="Celulares.SO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celulares.precio" class="control-label"></label>
                <input asp-for="Celulares.precio" class="form-control" />
                <span asp-validation-for="Celulares.precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
