﻿@page
@model ExamenWeb.Pages.Celular.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Celular[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular[0].marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular[0].color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular[0].CPUs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular[0].SO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular[0].precio)
            </th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Celular) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
</td>
<td>
    <a class="btn btn-dark" asp-page="./Details" asp-route-id="@item.ID">Details</a>
</td>
<td>
    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
</td>
        </tr>
}
    </tbody>
</table>
